<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Sách Nói</title>
</head>
<body>
    <h1>Danh sách sách nói</h1>
    <ul>
        {% for book in audiobooks %}
        <li>
            <h2>{{ book.title }} - {{ book.author }}</h2>
            <p>{{ book.description }}</p>
            <audio controls>
                <source src="{{ book.audio_file.url }}" type="audio/mpeg">
                Trình duyệt của bạn không hỗ trợ phát audio.
            </audio>
            <img src="{{ book.cover_image.url }}" alt="Cover Image" style="width: 200px; height: auto;">
        </li>
        {% endfor %}
    </ul>
</body>
</html>
